body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111827;
}

.btn {
    height: 3rem;
    width: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #111827;
    color: #fff;
    cursor: pointer;
}

.btn::after {
    content: "";
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: -1;
    border-radius: 10px;
    background: linear-gradient(98deg, deeppink, deepskyblue, lawngreen, deeppink);
    background-size: 300% 100%;
    animation: animate 3s ease infinite;
}

@keyframes animate {
    to {
        background-position: 0% 0%;
    }
    50% {
        background-position: 90% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}